body{
    background-color: black;
}
.box{
    width: 80px;
    height:20px;
    margin:10%;
    padding:5%;
    background-color: aquamarine;
    border-radius: 50%;
    border: 10%;
    font-size: larger;
    position: relative;
    
    animation-name: demo;
    animation-duration:10s;
    animation-iteration-count: 2;
    animation-direction:alternate;
    
    
}
@keyframes demo{
   0%
        {  transform: translateX(100px)rotateZ(90deg);
        background-color: aqua;
        transition: ease-in-out;
        left:0px;
        top:0px;
        }
    25%
        {
            transform: translateY(100px)rotateX(-90deg);
            background-color:blue;
            left:100px;
            top:0px;
        }
    50%
        {   transform: translateX(100px)rotateX(90deg);
            background-color:red;
            left:100px;
            top:100px;
        }
    75%
        {   transform: translateY(100px)rotateY(-90deg);
            background-color: green;
            left:0px;
            top:100px;
        }
    100%
        {
            transform: translateX(100px)rotateY(90deg);
            background-color:yellow; 
            left:0;
            top:0px;
        }
    
    
    


}